<template>
  <main
    class="home"
    :aria-labelledby="data.heroText !== null ? 'main-title' : null"
  >
    <header class="hero">
      <!--  <img
        v-if="data.heroImage"
        :src="$withBase(data.heroImage)"
        :alt="data.heroAlt || 'hero'"
      > -->
      <div
        :style="`background-image: url(${data.heroImage});`"
        class="banner"
      ></div>
      <div class="titulo">
        <h1 v-if="data.heroText !== null" id="main-title">
          {{ data.heroText || $title || "Hello" }}
        </h1>

        <p v-if="data.tagline !== null" class="description">
          {{ data.tagline || $description || "Welcome to your VuePress site" }}
        </p>
      </div>

      <!--       <p
        v-if="data.actionText && data.actionLink"
        class="action"
      >
        <NavLink
          class="action-button"
          :item="actionLink"
        />
      </p> -->
    </header>

    <div v-if="data.features && data.features.length" class="features">
      <div
        v-for="(feature, index) in data.features"
        :key="index"
        class="feature"
      >
        <div
          :style="`background-image: url(${feature.icone});`"
          class="bola"
        ></div>
        <h2>{{ feature.title }}</h2>
        <p>{{ feature.details }}</p>
      </div>
    </div>

    <Content class="theme-default-content custom" />

    <div class="pt-12" style="background: #d9534f">
      <CommunityMap
        height="500px"
        class="map"
        :places="places"
        buttonLink="/mapa"
      />
    </div>

    <div v-if="data.footer" class="footer">
      {{ data.footer }}
    </div>
  </main>
</template>

<script>
import NavLink from "@theme/components/NavLink.vue";
import CommunityMap from "@theme/components/CommunityMap.vue";

export default {
  name: "Home",

  components: { NavLink, CommunityMap },
  computed: {
    data() {
      return this.$page.frontmatter;
    },
    places() {
      return [];
    },
    actionLink() {
      return {
        link: this.data.actionLink,
        text: this.data.actionText,
      };
    },
  },
};
</script>

<style lang="stylus">
.home
  /* padding $navbarHeight 2rem 0
  max-width $homePageWidth */
  margin 0px auto
  display block
  .hero
    text-align center
    padding-bottom 200px
    img
      max-width: 100%
      max-height 280px
      display block
      margin 3rem auto 1.5rem
    h1
      font-size 3rem
      margin 0
    .description, .action
      margin 1.8rem auto
    .description
      max-width 35rem
      font-size 1.6rem
      line-height 1.3
      color 0000
    .action-button
      display inline-block
      font-size 1.2rem
      color #fff
      background-color $accentColor
      padding 0.8rem 1.6rem
      border-radius 4px
      transition background-color .1s ease
      box-sizing border-box
      border-bottom 1px solid darken($accentColor, 10%)
      &:hover
        background-color lighten($accentColor, 10%)
  .banner
    height 500px
    // opacity 50%
  .titulo
    margin-top -290px
  .features
    max-width $homePageWidth
    border-top 1px solid $borderColor
    padding 1.2rem 0
    text-align center
    margin 0 auto
    margin-top 2.5rem
    display flex
    flex-wrap wrap
    align-items flex-start
    align-content stretch
    justify-content space-between
  .feature
    flex-grow 1
    flex-basis 30%
    max-width 30%
    .bola
      height 150px
      width 150px
      border-radius 50%
      margin 0 auto
      background-size cover
    h2
      font-size 1.4rem
      font-weight 500
      border-bottom none
      padding-bottom 0
      color lighten($textColor, 10%)
    p
      color lighten($textColor, 25%)
  .footer
    padding 2.5rem
    border-top 1px solid $borderColor
    text-align center
    color lighten($textColor, 25%)

@media (max-width: $MQMobile)
  .home
    .features
      flex-direction column
      align-items center
    .feature
      max-width 100%
      padding 0 2.5rem

@media (max-width: $MQMobileNarrow)
  .home
    // padding-left 1.5rem
    // padding-right 1.5rem
    .hero
      img
        max-height 210px
        margin 0 auto
      h1
        font-size 2rem
      h1, .description, .action
        margin 1.2rem auto
      .description
        font-size 1.2rem
      .action-button
        font-size 1rem
        padding 0.6rem 1.2rem
    .feature
      h2
        font-size 1.25rem
</style>
